
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//cdn.v2ex.com/" />
    <link rel="dns-prefetch" href="//secure.gravatar.com" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>相爱的100件事</title>
    <meta name="keywords" content="相爱的100件事" />
    <meta name="description" content="相爱网" />
    <meta property="og:site_name" content="相爱的100件事" />
    <meta property="og:type" content="blog" />
    <meta property="og:title" content="相爱的100件事" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="http://www.xiangaiwang.com/" />
    <link rel="shortcut icon" href="http://www.xiangaiwang.com/img/favicon.ico">
    <link rel="apple-touch-icon" href="http://www.xiangaiwang.com/usr/themes/love/favicon.ico">
    <link href="http://www.xiangaiwang.com/usr/themes/love/style.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--[if lt IE 9]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请升级你的浏览器</a>。
</div>
<![endif]-->

<div class="container grid-sm s-content header">
    <div class="column col-12">
        <h1 class="logo">
            <i class="ico i-love"></i>
            <a href="/">相爱</a>
        </h1>
        <p class="description">这里记录了 <a href="http://sheltonlee.cn">@Shelton</a> 和 <a href="http://www.shelbylee.tk">@Shelby</a> 相爱的100件事。<br>相信我们还会留下更多美好的回忆，谢谢大家的祝福！</p>
    </div>
</div>
<div class="container grid-sm s-content posts">
    <div class="column col-12">
        <ol>
            <li class=><p>一起划船</p></li>
            <li class=><p>一起坐摩天轮</p></li>
            <li class=><p>一起去参加婚礼</p></li>
            <li class=><p>一起画眉毛</p></li>
            <li class=><p>一起看日出日落</p></li>
            <li class=><p>冬季一起吃冰淇淋</p></li>
            <li class=><p>一起看烟火</p></li>
            <li class="done"><del>一起看电影</del></li>
            <li class=><p>一起堆雪人</p></li>
            <li class=><p>一起做顿饭</p></li>
            <li class=><p>送对方惊喜</p></li>
            <li class="done"><del>一起去捡贝壳</del></li>
            <li class=><p>一起化妆</p></li>
            <li class=><p>一起养花</p></li>
            <li class=><p>吃完饭一起刷碗</p></li>
            <li class=><p>一起滑雪</p></li>
            <li class=><p>一起唱首歌</p></li>
            <li class=><p>一起看一次演唱会</p></li>
            <li class="done"><del>一起看星星</del></li>
            <li class=><p>互相写信</p></li>
            <li class=><p>穿情侣装逛街</p></li>
            <li class=><p>一起喝咖啡</p></li>
            <li class="done"><del>一起爬山</del></li>
            <li class=><p>一起坐过山车</p></li>
            <li class=><p>一起滑冰</p></li>
            <li class=><p>一起放风筝</p></li>
            <li class=><p>一起泡温泉</p></li>
            <li class=><p>给对方做便当</p></li>
            <li class="done"><del>互相按摩</del></li>
            <li class=><p>教我一项你的特长</p></li>
            <li class=><p>整晚不睡觉聊天唠磕</p></li>
            <li class=><p>一起去蹦极</p></li>
            <li class="done"><del>趁你睡觉偷亲你一下</del></li>
            <li class=><p>一起放孔明灯</p></li>
            <li class=><p>互相去对方小时候生活过的地方</p></li>
            <li class=><p>一起在家里自己做火锅</p></li>
            <li class=><p>陪对方过生日</p></li>
            <li class=><p>一起拍写真</p></li>
            <li class=><p>一起赏月</p></li>
            <li class=><p>一起去看樱花</p></li>
            <li class=><p>雨中漫步</p></li>
            <li class=><p>一起荡秋千</p></li>
            <li class="done"><del>一起整理房间</del></li>
            <li class=><p>一起潜水</p></li>
            <li class=><p>一起跑一次半马和全马</p></li>
            <li class=><p>接对方上下班</p></li>
            <li class=><p>一起露营</p></li>
            <li class=><p>为对方做早餐</p></li>
            <li class=><p>一起学一项新技能</p></li>
            <li class=><p>为你系围巾</p></li>
            <li class=><p>一起包饺子</p></li>
            <li class="done"><del>一起去看海</del></li>
            <li class=><p>唱歌给对方听</p></li>
            <li class=><p>一起去我们的小学、初中、高中</p></li>
            <li class="done"><del>一起合照</del></li>
            <li class=><p>一起去漫展</p></li>
            <li class=><p>一起打雪仗</p></li>
            <li class=><p>一起去跳伞</p></li>
            <li class=><p>一起去迪士尼</p></li>
            <li class=><p>一起学一个双方都不会的语言</p></li>
            <li class=><p>一起看一本书</p></li>
            <li class=><p>一起打游戏</p></li>
            <li class=><p>闭上眼让对方牵着过马路</p></li>
            <li class=><p>你女装，我男装</p></li>
            <li class="done"><del>靠你肩膀睡觉</del></li>
            <li class=><p>一起练倒立</p></li>
            <li class=><p>一起包饺子</p></li>
            <li class=><p>一起坐一辆从没做过的车，在不认识的地方下车到处逛</p></li>
            <li class=><p>一起去敬老院、孤儿院</p></li>
            <li class=><p>一起游泳</p></li>
            <li class=><p>一起去K歌</p></li>
            <li class=><p>和你玩捉迷藏</p></li>
            <li class=><p>一起做瑜伽</p></li>
            <li class=><p>去拍一次婚纱照</p></li>
            <li class=><p>去对方家里</p></li>
            <li class=><p>背着你走一段路</p></li>
            <li class=><p>一起坐飞机</p></li>
            <li class=><p>一起去医院看新生儿</p></li>
            <li class=><p>一起坐动车</p></li>
            <li class=><p>一起去吃自助餐</p></li>
            <li class=><p>早晨一起刷牙</p></li>
            <li class="done"><del>帮我买一次卫生巾</del></li>
            <li class="done"><del>半夜出去吃夜宵</del></li>
            <li class=><p>在冬天共用一副手套</p></li>
            <li class=><p>生病的时候陪对方</p></li>
            <li class=><p>一起去捡落叶</p></li>
            <li class=><p>一起赏月</p></li>
            <li class=><p>你给我贴面膜，我给你刮胡子</p></li>
            <li class=><p>一起跨年</p></li>
            <li class=><p>互换衣服</p></li>
            <li class=><p>假装当陌生人一天</p></li>
            <li class=><p>一起玩密室逃脱</p></li>
            <li class=><p>教我玩一个你会的游戏</p></li>
            <li class=><p>一起去划船</p></li>
            <li class=><p>给栋栋化妆</p></li>
            <li class="done"><del>见我的父母</del></li>
            <li class=><p>为你挡酒</p></li>
            <li class=><p>在朋友面前大方的介绍我</p></li>
            <li class=><p>生宝宝</p></li>
            <li class=><p>白头偕老</p></li>
        </ol>
    </div>
</div>


<div class="container grid-sm s-content footer">
    <div class="column col-12">


        <p><a class="top" href="">返回顶部</a></p>
    </div>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?e5ccccedc7eabd0f23297b8cd1057199";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</div>
<script>
</script>

</body>
</html>
